@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    h1,
    h2,
    h3,
    h4 {
        font-family: Oswald, Proxima Nova, system-ui, sans-serif;
    }

    html {
        font-family: Merriweather, Proxima Nova, sans-serif;
    }

    h1 {
        @apply text-4xl;
    }

    h2 {
        @apply text-2xl uppercase text-black font-semibold;
    }
}

.profileImage {
    @apply rounded-3xl;
    width: auto;
    height: 100%;
    object-fit: cover;
    object-position: 50% 4%;
}

section {
    @apply mb-10;
}

.repo-slide {
    text-align: center;
}

.avatar-img {
    width: 300px;
    height: 300px;
}